@font-face {
font-family:'Smart_Kid';
src:url(DK.otf);
}

#kotak{
	font-family:'Smart_Kid';
	color:#FFFFFF;
	position:absolute;
	background-color:#666666;
	width:100%;
	height:100px;
}

#header {
	background-color:#25B695;
	width:100%;
	height:60px;
	text-align:center;
	font-family:Smart_Kid;
	font-size:35px;
	color:#FFFFFF;
}
#menu{
	background-color:#333333;
	width:210px;
	height:623px;
	}
#footer{
	background-color:#25B695;
	width:84.6%;
	height:60px;
	position:absolute;
	left:210px;
	bottom:0px;
	text-align:center;
	font-family:Smart_Kid;
	font-size:25px;
	color:#FFFFFF;
	margin-top:1px;
	}

/*=====================
MENU
=======================*/
#posisi_gambar{
	position:absolute;
	top:90px;
	left:30px;
	}
	
#gambar{
width:150px;
height:150px;
border:1px solid transparant;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
background-image:url(../img/admin.PNG);
}
#gambar:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	box-shadow: 0 18px 20px 0 rgba(0,0,0,.2);
	}

#posisi{
	position:absolute;
	top:260px;
	left:10px;
	}
	
#menu ul{
	display:block;
	}
#menu ul a{
	text-decoration:none;
	}
	
#menu ul li{
	display:block;
	width:190px;
	height:50px;
	text-align:center;
	font-size:15px;
	color:#FFFFFF;
	font-family:Smart_Kid;
	padding-top:5px;
	}
#menu ul li:hover{
	background-color:#25B695;
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	}

#isi{
	background-color:#eeeeee;
	width:1154px;
	height:563px;
	position:absolute;
	top:60px;
	left:210px;
	}
	
#text{
	position:absolute;
	left:50px;
	top:34px;
	}
	
#posisi_ck{
	position:absolute;
	left:10px;
	width:98%;
	}