nav li ul{
    background: #fff;
    border-top: 1px solid #ececec;
}

.btn-big{
    width: auto;
}

.btn-medium{
    width: 105px;
}

.note.grid_12 .text{
   width: auto;
   padding-right: 15px;
}

figure.img-styled .img-hover .title{
    padding-left: 10px;
}

.tabs li.active{
    border-left: 1px solid #ececec;
}

.comment-form .name, .comment-form .email{
    padding-top: 10px;
    height: 20px;
}

.contact-form .name, .contact-form .email{
    padding-top: 10px;
    height: 20px;
}
