/*========================
FONT
========================*/
@font-face {
font-family:'DK Hobgoblin';
src:url(Smart_Kid.otf);
}
@font-face {
font-family:'Smart_Kid';
src:url(DK.otf);
}


body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#2196f3;
}	

/*bawah*/
#bawah{
	background-image:url(../img/jalan.png);
	width:100%;
	height:100px;
	position:absolute;
	bottom:0px;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}
/*bulet*/
#next{
	background-color:#fffbf0;
	width:80px;
	height:80px;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	position:absolute;
	bottom:40px;
	right:50px;
	}
#next:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
	}
	

/*gedung sate*/
#gambar{
	
	width:926px;
	height:400px;
	position:absolute;
	top:170px;
	left:190px;
	}

/*bangunan banyak*/
#bangunan{
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:369px;
	position:absolute;
	bottom:100px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:610px;
	left:640px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
@media only screen and (min-width: 1024px) and (max-width: 1366px){
	#lanjut{
		top:540px;
	}
}
@media only screen and (min-width: 800px) and (max-width: 1024px){
	#lanjut{
		top:610px;
	}
}