/*========================
FONT
========================*/
@font-face {
font-family:'DK Hobgoblin';
src:url(Smart_Kid.otf);
}
@font-face {
font-family:'Smart_Kid';
src:url(DK.otf);
}


body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#2196f3;
}	

@media only screen and (min-width: 1024px) and (max-width: 1366px){
/*bawah*/
#bawah{
	background-image:url(../img/jalan.png);
	width:100%;
	position:absolute;
	bottom:0px;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}
/*bulet*/
#next{
	background-color:#fffbf0;
	width:80px;
	height:80px;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	position:absolute;
	bottom:40px;
	right:50px;
	}
#next:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
	}
	

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:200px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:610px;
	left:640px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media only screen and (max-width: 1024px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:70px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}
	
/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:30px;
	}

/*bangunan banyak*/
#bangunan{
	display:none;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:100%;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:580px;
	left:480px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width: 1200px){
/*bawah*/
#bawah{
	background-image:url(../img/jalan.png);
	width:100%;
	height:100px;
	position:absolute;
	bottom:0px;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:110px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:560px;
	left:570px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}

}
@media screen and (max-width: 1032px){
/*bawah*/
#bawah{
	background-image:url(../img/jalan.png);
	width:100%;
	height:100px;
	position:absolute;
	bottom:0px;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:40px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:560px;
	left:490px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width: 992px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:70px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}
	
/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:30px;
	}

/*bangunan banyak*/
#bangunan{
	display:none;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:100%;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:580px;
	left:480px;
	z-index:100;
	width:50%;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:880px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:70px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}
	
/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:30px;
	}

/*bangunan banyak*/
#bangunan{
	display:none;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:100%;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:580px;
	left:420px;
	z-index:100;
	width:50%;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:900px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:40px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:560px;
	left:430px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:600px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:40px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:560px;
	left:430px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:480px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:40px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:560px;
	left:430px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:320px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:50px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:40px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	background-image:url(../img/awan.png);
	width:1200px;
	height:251px;
	background-repeat:no-repeat;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:560px;
	left:430px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:714px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:30px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:10px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	display:none;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:480px;
	left:320px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:579px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:30px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:10px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	display:none;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:430px;
	left:260px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:340px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:30px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:10px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	display:none;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:350px;
	left:130px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
@media screen and (max-width:328px){
/*bawah*/
#bawah{
	display:none;
	}
	
/*tulisan*/
#a{
	font-family:Smart_Kid;
	text-align:center;
	width:100%;
	height:100px;
	color:#FFFFFF;
	font-size:30px;
	/*posisi*/
	position:absolute;
	top:50px;
	}
#a p{
	font-family:DK Hobgoblin;
	color:#FFFFFF;
	font-size:30px;
	}

/*gedung sate*/
#gambar{
	position:absolute;
	top:180px;
	left:10px;
	}

/*bangunan banyak*/
#bangunan{
	position:absolute;
	bottom:90px;
	left:0px;
	background-image:url(../img/bangunan1.svg);
	width:100%;
	height:380px;
	}
	
/*awan*/
#awan{
	display:none;
	}
	
/*lanjut*/
#lanjut{	
	font-family:Smart_Kid;
	color:#FFFFFF;
	font-size:30px;
	position:absolute;
	top:350px;
	left:130px;
	z-index:100;
	}
#lanjut a{
	text-decoration:none;
	color:#FFFFFF;
	}
#lanjut a:hover{
	-webkit-transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	transition-duration:0.7s;
	color:#0099FF;
	}
}
