/* CSS Document */

/*GAMBAR*/
#Gambar{
	background-image:url(../img/jokat.PNG);
	background-repeat:no-repeat;
	width:377px;
	height:111px;
	position:absolute;
	top:180px;
	left:515px;
	}
	
/*YANG BUAT NYARI*/
#cari{
	position:absolute;
	top:300px;
	left:340px;
	}
.bayu{
	width:700px;
	height:23px;
	}
/*EFEK*/
input[type=text]{
	display:block;
	line-height: 1.42857143;
	border: 1px solid #ccc;
  	border-radius: 5px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition-duration:0.7s;
	transition-duration:0.7s;
	text-align:center;
	}
input[type=text]:focus{
	border-color: #66afe9;
  	outline: 0;
  	-webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 20px rgba(102, 175, 233, .6);
          box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 20px rgba(102, 175, 233, .6);
		  }
input[type=password]{
	display:block;
	line-height: 1.42857143;
	border: 1px solid #ccc;
  	border-radius: 5px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition-duration:0.7s;
	transition-duration:0.7s;
	text-align:center;
	}
input[type=password]:focus{
	border-color: #66afe9;
  	outline: 0;
  	-webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 20px rgba(102, 175, 233, .6);
          box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 20px rgba(102, 175, 233, .6);
		  }

/*TOMBOL*/
#tombol{
	position:absolute;
	left:585px;
	}
.bayu1{
	color:#333;
	background-color:#fff;
	border:1px solid #ccc;
	border-color:#Ccc;
	width:100px;
	height:30px;
	border-radius:5px;
	font-family:Montserrat;
	}
.bayu2{
	color:#333;
	background-color:#fff;
	border:1px solid #ccc;
	border-color:#ccc;
	width:100px;
	height:30px;
	border-radius:5px;
	font-family:Montserrat;
	}

/*c*/
#c{
	position:absolute;
	bottom:20px;
	left:610px;
	font-size:13px;
	}
