.tabel {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #55BE95;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tabel table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabel tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tabel table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabel table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tabel tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tabel tr:hover td{
	
}
.tabel tr:nth-child(odd){ background-color:#ffffff; }
.tabel tr:nth-child(even)    { background-color:#ffffff; }.tabel td{
	vertical-align:middle;
	
	
	border:1px solid #55BE95;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tabel tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabel tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabel tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabel tr:first-child td{
		background:-o-linear-gradient(bottom, #55BE95 5%, #55BE95 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55BE95), color-stop(1, #55BE95) );
	background:-moz-linear-gradient( center top, #55BE95 5%, #55BE95 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#55BE95", endColorstr="#55BE95");	background: -o-linear-gradient(top,#55BE95,55BE95);

	background-color:#55BE95;
	border:0px solid #55BE95;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tabel tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #55BE95 5%, #55BE95 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55BE95), color-stop(1, #55BE95) );
	background:-moz-linear-gradient( center top, #55BE95 5%, #55BE95 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#55BE95", endColorstr="#55BE95");	background: -o-linear-gradient(top,#55BE95,55BE95);

	background-color:#55BE95;
}
.tabel tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabel tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.btn-group, .btn-group-vertical {
position: relative;
display: inline-block;
vertical-align: middle;
}

#aksi {
image-align: center;
}